---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> ONE CLICK AWAY <br /> FROM A STRONGER APPLICATION </h1>
			<p>
				We’re a boutique team led by Kristine & Joseph, delivering personalized college and graduate school essay consulting.
			</p>
			아이비리그 출신 전문가의 맞춤형 명문대 입시 에세이 코칭
			<p>
				Questions? Email us at attomole@gmail.com
				
			</p>
		</main>
		<Footer />
	</body>
</html>
