---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> ONE CLICK AWAY <br /> FROM A STRONGER APPLICATION </h1>
			<p>
				We’re a boutique team led by Kristine & Joseph, delivering personalized college essay consulting and other editing services.
			</p>
			아이비리그 출신 입시 전문가가 명문대 입시 에세이를 맞춤형으로 코칭하고 상담 제공합니다.
			<p>
				Questions? Email us at attomole@gmail.com
				<br /> 
				질문 있다면 attomole@gmail.com 으로 이메일 보내주세요.
			</p>
		</main>
		<Footer />
	</body>
</html>
